*{
    box-sizing: border-box;
}
body{
    max-width: 1400px;
    padding: 0px;
    margin: 0px;
    background-color: white;
    display: flex;
    flex-direction: column;
}
header{
    background-color: white;    
    max-width: 1200px;
    width: 100%;
    padding: 20px;    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap:116px;
    margin-bottom: 5px;
    background-image: url('../Images/header.jpg');
    background-position: center;
    height: 400px;
    align-self: center;
}
.sup{
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap:20px;
    max-width:1200px;
}
.logo,
.social,
.nav{
    padding: 10px 0px 10px 10px;  
    display: flex;
    flex-grow:1;
    gap:5px;
}
.logo img{
    width: 50px;
    height: 50px;
}
.nav img:hover{
    width: 20px;
    height: 20px; 
}
.nav a:hover{
    font-size: 22px;
    color: darkgray;
}
.nav{
    flex-grow:3;
}
.nav img{
    margin-right: 5px;
    width: 15px;
    height: 15px;
}
.nav a{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    text-decoration: none;
    color: grey;
    margin-right: 10px;
}
.social{
    justify-content: flex-end;
}
.social img{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 20px;
    height: 20px;
    margin-right: 20px;
}
.social img:hover{
    width: 24px;
    height: 24px; 
    cursor: pointer;   
}
.inf{
    background-color: lightgray;
    opacity: 80%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 125px;
    align-self: center;
    max-width: 1000px;
}
.banner{
    color: #F59C7B;
    display: flex;
    flex-grow:1;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    font-size: 28px;
    opacity: 0.8;
}
.banner img{
    width: 100%;
    max-width: 1200px;
    height: 100%;
}
.central_body{
    padding: 10px 0px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    max-width: 1200px;
     align-self: center;
}
.left{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-grow:3;       
    background-color: #D8D7D7;
    padding-top: 10px;
}
.article{
    background-color: #F5F1F1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    width: 50%;
    max-width: 48%;
    margin-bottom: 15px;   
    gap: 5px;
}
.image{
    position: relative;
    display: flex;
    /*background-image: url('../Images/sakura.jpg');
    background-position: center;*/
}
.image img{
    width: 100%;    
}
.image .date{
    color: #D0C77C;
    position: absolute;
    top: 80%;
    left: 3%;;
}
.subtittle{
    background-color: #F08080;
    color: white;
    padding-left: 5px;
    padding-top: 10px;
    width: 100%;
    font-weight: bold;
}
.art_text{
    column-count: 2;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #787777;
}
.more a{
    color: #9F9E9E;
    text-decoration: none;
}
.art_right{
    margin-right: 0px;
}
.navigation{
    width: 100%;
    padding: 5px 5px;
    padding-left: 10px;
    text-align: center;
}
.right{
    background-color:#D8D7D7;
    padding: 5px 0px;
    display: flex;
    flex-direction: column;
    flex-grow:1;     
    min-width: 250px;   
}
.publicidad1{
    padding: 5px 5px;
    padding: 15px;
    padding-left: 10px;
    justify-content: center;
    font-weight: bold;
    text-align: center;
}
.publicidad2{
    padding: 5px 5px;
    margin-bottom: 15px;
    text-align: center;
}
footer{
    background-color: #D8D7D7;
    max-width: 1200px;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 20px;
    align-self: center;
}
.footer{
    background-color: #F5F1F1;    
    color: #787777;
    margin: 0px 10px;
    text-align: center;
    padding: 10px 0px;
    
}

@media only screen and (max-width: 768px) {

    body{
        max-width:768px;   
        /*height: 470px;
        gap: 80px;*/      
    }
    header{
        max-width:768px;   
        height: 470px;
        gap: 20px;
    }
    .sup{
        flex-direction: column;     
        gap:5px;   
    }    
    .inf .banner{
        font-size: 24px;
    }
    .central_body{
        flex-direction: column;
        gap:20px;
    }
    .right{
        flex-direction: column; 
    }
    .publicidad:last-child{
        margin-bottom: 0px;
    }
}

@media only screen and (max-width: 600px) {

    body,
    header{
        max-width: 600px;
        min-width: 550px;    
    }
    .inf .banner{
        font-size: 20px;
    }
   .left{   
        flex-direction: column;     
    }
    .article{
        width: 100%;
        max-width: 100%;
    }
}